*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0%;
    margin:0%;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*Head start*/

.container-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 150px;
}

.container-head h4{
    margin-right:600px;
    margin-top: 13px;
    font-size: 24px;
    color: #F9FAF8;
}

.container-head p{
    margin-right: 15px;
    color: #E5E7EB;
}

/*Presentation start*/

.container-presentation{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding-bottom: 150px;
    align-items: flex-end;
    justify-content: center;
}

.content-container{
    width: 500px;
    margin-right:220px;
}

.container-presentation h1{
    font-size: 48px;
    color:#F9FAF8
}

.container-presentation .subtext{
    font-size: 18px;
    color:#E5E7EB;
    padding-bottom: 15px;
}

.container-presentation button{
    width: 100px;
    height: 32px;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882F6;
}

.container-presentation .img-place{
    background-color: gray;
    color:#E5E7EB;
    height: 180px;
    width: 400px;
}

.img-place p{
    padding-top: 75px;
    padding-left:80px;
}

/*Info start*/

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 150px;
}

.info-container h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    justify-self: center;
}

.boxes-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxes-container .text{
    text-align: center;
    margin-right: 50px;
    flex-wrap: wrap;
    width: 200px;
}

.box{
    border: 2px solid blue;
    height: 150px;
    width: 150px;
    margin-left:20px;
    border-radius: 10px;
    margin-right: 30px;
}

/*Quote start*/

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote{
    margin-left: 350px;
    margin-right:350px;
}

.quote .quote-ita{
    font-size: 36px;
}

.quote .quote-author{
    text-align: end;
}
/*pop up start*/
.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.popup-container button{
    width: 100px;
    height: 32px;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882F6;
    border: 1px solid #f9faf8;
    margin-right: 50px;
}


.popup{
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 50px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.popup p{
    margin-right: 450px;
}



/*Bottom start*/
.bottom{
    text-align: center;
    color:#E5E7EB;
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}   